table
{
border-spacing:0;
border-collapse:separate;
}
td
{
    padding:5px;
    border:3px solid #3E5C82;
    border-collapse:separate;
    border-spacing:0;
    border-radius:5px;
    font-weight:bold;
    font-size:20px;
    font-family:Calibri;
}
